header {
    background: white;
    width: 1960px;
    height: 100;
    box-shadow: 0px 0px 10px 0px #333;
    position: fixed;
    left: -40px; 
    top: -20px; 
    z-index: 1000; 

}




/* ENCABEZADO */
.logo{
    display: inline-block;  
    transform: scale(0.3,0.3);

    position: relative; 
    left: -150px;
    top: -30px; 
}

/* VEHÍCULOS *//* VEHÍCULOS *//* VEHÍCULOS */ /* VEHÍCULOS *//* VEHÍCULOS *//* VEHÍCULOS *//* VEHÍCULOS *//* VEHÍCULOS */
.VEHÍCULOS {
    padding: 0;
    margin: 0;
    list-style-type: none; 
    position: absolute;
    top: 40px;
    left: 280px; 
}

/* Estilos para los elementos principales del menú */
.VEHÍCULOS > li {
    position: relative; 
}

.VEHÍCULOS > li > a {
    background-color: transparent; 
    text-decoration: none;
    padding: 10px 15px;
    display: block;
    color: gray; 
    font-family: Arial, Helvetica, sans-serif; 
    font-size: 18px; }

.VEHÍCULOS > li:hover > a {
    background-color: rgb(238, 238, 238); 
}

/* Estilos para los submenús */
.VEHÍCULOS li ul {
    display: none; 
    position: absolute;
    top: 105%;
    left: 0;
    width: 200%; 
    background-color: white; 
    border: 1px solid #ccc; 
    padding: 10px 0; 
    z-index: 1; 
    list-style-type: none; 
    text-align: left; 
    padding-left: 10px; 
    color: gray; 
    font-family: Arial, Helvetica, sans-serif; 
    font-size: 15px; 
}

.VEHÍCULOS li ul li {
    margin-bottom: 8px; 
}

.VEHÍCULOS li ul li a {
    display: block;
    padding: 8px 15px; 
    text-decoration: none; 
    color: rgb(32, 32, 34);
}

.VEHÍCULOS li ul li a:hover {
    text-decoration: underline; 
    background-color: rgb(238, 238, 238); 
}

.VEHÍCULOS li:hover > ul {
    display: block; 
}

/* POSTVENTA *//* POSTVENTA *//* POSTVENTA *//* POSTVENTA *//* POSTVENTA *//* POSTVENTA *//* POSTVENTA *//* POSTVENTA */

.POSVENTA {
    padding: 0;
    margin: 0;
    list-style-type: none; 
    position: absolute; 
    top: 40px; 
    left: 410px; 
}

.POSVENTA > li {
    position: relative; 
}

.POSVENTA > li > a {
    background-color: transparent; 
    text-decoration: none;
    padding: 10px 15px;
    display: block;
    color: gray; 
    font-family: Arial, Helvetica, sans-serif; 
    font-size: 18px; 
}

.POSVENTA > li:hover > a {
    background-color: rgb(238, 238, 238); 
}

.POSVENTA li ul {
    display: none; 
    position: absolute;
    top: 105%; 
    left: 0;
    width: 300%; 
    background-color: white; 
    border: 1px solid #ccc; 
    padding: 10px 0; 
    z-index: 1; 
    list-style-type: none; 
    text-align: left; 
    padding-left: 10px; 
    color: gray; 
    font-family: Arial, Helvetica, sans-serif; 
    font-size: 15px; 
}

.POSVENTA li ul li {
    margin-bottom: 8px; 
}

.POSVENTA li ul li a {
    display: block;
    padding: 8px 15px; 
    text-decoration: none; 
    color: rgb(32, 32, 34);
}

.POSVENTA li ul li a:hover {
    text-decoration: underline; 
    background-color: rgb(238, 238, 238); 
}

.POSVENTA li:hover > ul {
    display: block; 
}

/* OFERTAS *//* OFERTAS *//* OFERTAS *//* OFERTAS *//* OFERTAS *//* OFERTAS *//* OFERTAS *//* OFERTAS *//* OFERTAS *//* OFERTAS */
.OFERTAS {
    padding: 0;
    margin: 0;
    list-style-type: none; 
    position: absolute; 
    top: 40px; 
    left: 540px; 
}

.OFERTAS > li {
    position: relative; 
}

.OFERTAS > li > a {
    background-color: transparent;
    text-decoration: none;
    padding: 10px 15px;
    display: block;
    color: gray; 
    font-family: Arial, Helvetica, sans-serif; 
    font-size: 18px; 
}

.OFERTAS > li:hover > a {
    background-color: rgb(238, 238, 238); 
}

.OFERTAS li ul {
    display: none; 
    position: absolute;
    top: 100%; 
    left: 0;
    width: 300%; 
    background-color: white; 
    border: 1px solid #ccc; 
    padding: 10px 0; 
    z-index: 1; 
    list-style-type: none; 
    text-align: left; 
    padding-left: 10px;
    color: gray; 
    font-family: Arial, Helvetica, sans-serif; 
    font-size: 15px; 
}

.OFERTAS li ul li {
    margin-bottom: 8px;
}

.OFERTAS li ul li a {
    display: block;
    padding: 8px 15px; 
    text-decoration: none; 
    color: rgb(32, 32, 34); 
}

.OFERTAS li ul li a:hover {
    text-decoration: underline; 
    background-color: rgb(238, 238, 238); 
}

.OFERTAS li:hover > ul {
    display: block; 
}

/* NOSOTROS *//* NOSOTROS *//* NOSOTROS *//* NOSOTROS *//* NOSOTROS *//* NOSOTROS *//* NOSOTROS *//* NOSOTROS *//* NOSOTROS */

.NOSOTROS {
    padding: 0;
    margin: 0;
    list-style-type: none; 
    position: absolute; 
    top: 40px; 
    left: 670px; 
}

.NOSOTROS > li {
    position: relative; 
}

.NOSOTROS > li > a {
    background-color: transparent; 
    text-decoration: none;
    padding: 10px 15px;
    display: block;
    color: gray; 
    font-family: Arial, Helvetica, sans-serif; 
    font-size: 18px; 
}

.NOSOTROS > li:hover > a {
    background-color: rgb(238, 238, 238); 
}

.NOSOTROS li ul {
    display: none; 
    position: absolute;
    top: 100%; 
    left: 0;
    width: 200%; 
    background-color: white; 
    border: 1px solid #ccc; 
    padding: 10px 0; 
    z-index: 1; 
    list-style-type: none; 
    text-align: left; 
    padding-left: 10px; 
    color: gray; 
    font-family: Arial, Helvetica, sans-serif; 
    font-size: 15px; 
}

.NOSOTROS li ul li {
    margin-bottom: 8px; 
}

.NOSOTROS li ul li a {
    display: block;
    padding: 8px 15px; 
    text-decoration: none; 
    color: rgb(32, 32, 34); 
}

.NOSOTROS li ul li a:hover {
    text-decoration: underline; 
    background-color: rgb(238, 238, 238); 
}

.NOSOTROS li:hover > ul {
    display: block; 
}

/* FINANCIAMIENTO*//* FINANCIAMIENTO*//* FINANCIAMIENTO*//* FINANCIAMIENTO*//* FINANCIAMIENTO*//* FINANCIAMIENTO*//* FINANCIAMIENTO*/


.FINANCIAMIENTO {
    padding: 0;
    margin: 0;
    list-style-type: none; 
    position: absolute; 
    top: 40px; 
    left: 800px; 
}

.FINANCIAMIENTO > li {
    position: relative;
}

.FINANCIAMIENTO > li > a {
    background-color: transparent; 
    text-decoration: none;
    padding: 10px 15px;
    display: block;
    color: gray; 
    font-family: Arial, Helvetica, sans-serif; 
    font-size: 18px; 
}

.FINANCIAMIENTO > li:hover > a {
    background-color: rgb(238, 238, 238); 
}

/*Serviciooooooooooooooooooooooooooooooooooooos*/

.Servicios {
    padding: 0;
    margin: 0;
    list-style-type: none; 
    position: absolute; 
    top: 40px; 
    left: 980px; 
}

.Servicios > li {
    position: relative; 
}

.Servicios > li > a {
    background-color: transparent; 
    text-decoration: none;
    padding: 10px 15px;
    display: block;
    color: gray; 
    font-family: Arial, Helvetica, sans-serif; 
    font-size: 18px; 
}

.Servicios > li:hover > a {
    background-color: rgb(238, 238, 238); 
}

.Servicios li ul {
    display: none; 
    position: absolute;
    top: 100%; 
    left: 0;
    width: 200%; 
    background-color: white; 
    border: 1px solid #ccc; 
    padding: 10px 0; 
    z-index: 1; 
    list-style-type: none; 
    text-align: left; 
    padding-left: 10px; 
    color: gray; 
    font-family: Arial, Helvetica, sans-serif; 
    font-size: 15px; 
}

.Servicios li ul li {
    margin-bottom: 8px; 
}

.Servicios li ul li a {
    display: block;
    padding: 8px 15px; 
    text-decoration: none; 
    color: rgb(32, 32, 34); 
}

.Servicios li ul li a:hover {
    text-decoration: underline; 
    background-color: rgb(238, 238, 238); 
}

.Servicios li:hover > ul {
    display: block; 
}

/*LOGOSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSS*/

.enlace-facebook img {
    max-width: 42px; 
    height: auto; 
    transition: transform 0.3s ease;
    position: absolute; 
    top: 37px; 
    left: 1545px; 
}


.enlace-facebook img:hover {
    transform: scale(1.3); 
}


.enlace-instagram img {
    max-width: 48px; 
    height: auto; 
    transition: transform 0.3s ease;
    position: absolute; 
    top: 33px;
    left: 1650px; 
}


.enlace-instagram img:hover {
    transform: scale(1.3); 
}

.enlace-youtube img {
    max-width: 48px; 
    height: auto; 
    transition: transform 0.3s ease;
    position: absolute; 
    top: 40px; 
    left: 1710px; 
}

.enlace-youtube img:hover {
    transform: scale(1.3); 
}

.enlace-linkedin img {
    max-width: 48px; 
    height: auto; 
    transition: transform 0.3s ease;
    position: absolute; 
    top: 33px; 
    left: 1770px; 
}

.enlace-linkedin img:hover {
    transform: scale(1.3); 
}




.enlace-whatsapp {
    position: absolute;
    display: inline-block;

}

.enlace-whatsapp img {
    width: 45px;
    height: auto; 
    transition:transform 0.3s ease;
    position: relative;
    top: 35px; 
    
}

.tooltip {
    position: absolute;
    top: calc(100% + 55px);
    left: calc(100% + 1020px);
    transform: translateX(-50%);
    background-color: white;
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 10px;
    width: 300px; 
    font-size: 14px;
    line-height: 1.5;
    text-align: left; 
    visibility: hidden; 
    opacity: 0; 
    z-index: 100;
    transition: opacity 0.3s ease, visibility 0.3s ease;
    max-height: 10000px; 
}


.enlace-whatsapp:hover .tooltip {
    visibility: visible; 
    opacity: 1; 

}

.enlace-whatsapp img:hover {
    transform: scale(1.3); 
}



.enlace-InicioSesion {
    
    position: absolute; /* Puede ser relative, fixed, absolute, o sticky dependiendo de tus necesidades */
    top: 21px; /* Ajusta esta medida según lo necesites */
    left: 1820px; /* Ajusta esta medida según lo necesites */
}
.enlace-InicioSesion img {
    width: 75px; /* Mantiene la proporción de la imagen */
    height: 75px; /* Ajusta esta medida para agrandar la imagen */
}



.enlace-InicioSesion img:hover {
    transform: scale(1.3); 
}




























.image-container {
    position: absolute; /* Puedes usar absolute, relative, fixed, o sticky según tus necesidades */
    top: 130px; /* Ajusta la posición desde la parte superior */
    right: 350px; /* Ajusta la posición desde la izquierda */
}

.bateria {
    width: 750px; /* Ajusta el tamaño de la imagen según sea necesario */
    height: auto; /* Mantén la proporción de aspecto de la imagen */
}

























.form-container {
    background: linear-gradient(to bottom, #ffffff, #fdfdfd); 
    padding: 40px; /* Incrementa el padding para más espacio alrededor del formulario */
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(162, 219, 4, 0.1);
    height: 420px;
    width: 500px;
    max-width: 90%; /* Ajusta el ancho máximo del formulario */
    position: absolute;
    top: 40%; /* Centra verticalmente */
    left: 350px; /* Centra horizontalmente */
    transform: translate(-50%, -50%); /* Centra el elemento usando transform */
}

form {
    display: flex;
    flex-direction: column;
}

label {
    margin-bottom: 15px; /* Reduce el espacio entre etiquetas y campos de entrada */
    font-weight: bold;
    color: #b49f23;
    font-size: 25px; /* Reducir el tamaño de fuente de las etiquetas */
}

input {
    padding: 10px; /* Reduce el padding vertical y horizontal */
    margin-bottom: 15px; /* Espacio entre inputs */
    border: 1px solid #b49f23;
    border-radius: 5px;
    font-size: 16px;
    font-weight: bold;
}

input::placeholder {
    color: #ccc;
}
















/* Estilos para tarjeta-section */
.tarjeta-section {
    margin-top: 680px; /* Espacio superior */
    display: flex; /* Usar flexbox para alinear elementos */
    align-items: center; /* Centrar verticalmente los elementos */
    margin-left: 140px; /* Mover todo el contenido más a la derecha */
}

.tarjeta-section span {
    font-size: 26px; /* Tamaño de fuente */
    font-weight: bold; /* Negrita */
    margin-right: 20px; /* Espacio a la derecha */
    color: #b49f23; /* Color del texto */
    font-family: Arial, sans-serif; /* Tipo de fuente */
}

.tarjeta-section .action-buttons {
    margin-left: auto; /* Mueve los botones hacia la derecha */
}

.tarjeta-section .action-button {
    padding: 10px 20px; /* Relleno interno */
    font-size: 20px; /* Tamaño de fuente */
    background-color: #b49f23; /* Color de fondo */
    color: white; /* Color de texto */
    border: none; /* Sin borde */
    cursor: pointer; /* Cursor tipo puntero */
    margin: 0 5px; /* Margen entre botones */
    border-radius: 5px; /* Bordes redondeados */
    transition: background-color 0.3s ease; /* Transición suave del color de fondo */
}

.tarjeta-section .action-button:hover {
    background-color: #c7ae24; /* Color de fondo al pasar el mouse */
}

#imagen-bancos {
    display: none; /* Empieza oculto, mostraremos después de guardar */
    max-width: 100%; /* Ajusta el tamaño máximo de la imagen al ancho del contenedor */
    max-height: 100px; /* Establece la altura máxima de la imagen */
    margin-top: 10px; /* Ajusta el margen superior según necesites */
}












.modal-content h2 {
    text-align: center;
    margin-bottom: 20px;
    color: #b49f23; /* Cambia el color del texto */
    font-family: Arial, sans-serif; /* Cambia el tipo de fuente */
    font-size: 30px; /* Cambia el tamaño de la fuente */
    font-weight: bold; /* Pone el texto en negrita */
}


/* Estilos generales para los modales */
.modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.4);
}

.modal-content {
    background-color: #b0c4de;
    margin: 6% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
    max-width: 600px;
    color: black;
    border-radius: 10px;
    position: relative;
}

.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: #b49f23;
    text-decoration: none;
    cursor: pointer;
}

.modal-content h2 {
    text-align: center;
    margin-bottom: 20px;
    color: #b49f23; /* Cambia el color del texto */
    font-family: Arial, sans-serif; /* Cambia el tipo de fuente */
    font-size: 30px; /* Cambia el tamaño de la fuente */
    font-weight: bold; /* Pone el texto en negrita */
}

.modal-buttons {
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

.modal-buttons button {
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
    background-color: #b49f23; /* Color de fondo */
    color: white; /* Color del texto */
    margin: 0 10px; /* Margen entre botones */
    transition: background-color 0.3s ease; /* Transición suave del color de fondo */
}

.modal-buttons button:hover {
    background-color: #c7ae24; /* Color de fondo al pasar el mouse */
}

.images-section {
    display: flex;
    justify-content: space-around;
    margin-top: 20px;
}

.reservation-image {
    max-width: 45%;
    height: auto;
    border: 2px solid #888;
    border-radius: 5px;
}

/* Estilos para el botón "Haz tu reserva ya!!" */
/* Estilos para el botón "Haz tu reserva ya!!" */
.botoncopia {
    display: none; /* Empieza oculto, lo mostraremos después */
    position: absolute; /* Posición absoluta para controlar exactamente la ubicación */
    bottom: 130px; /* Distancia desde la parte inferior del contenedor padre */
    padding: 10px 20px;
    font-size: 30px;
    background-color: #b49f23; /* Color de fondo */
    color: white; /* Color del texto */
    border: none;
    border-radius: 5px;
    text-align: center;
    text-decoration: none;
    cursor: pointer;
    font-weight: bold; /* Poner el texto en negrita */
    z-index: 1000; /* Asegura que esté sobre otros elementos si es necesario */
    height: 70px;
    width: 600px;
    margin-left: 895px;
}

/* Estilos para el botón "TE INFORMAREMOS CUANDO ESTE EN LA SUCURSAL" */
.mini-boton {
    display: none; /* Empieza oculto, lo mostraremos después */
    position: absolute;
    bottom: 70px; /* Posiciona este botón debajo del botón principal */
    padding: 5px 10px;
    font-size: 15px;
    background-color: #e4c934; /* Color de fondo */
    color: rgb(19, 18, 18); /* Color del texto */
    border: none;
    border-radius: 20px; /* Bordes redondeados */
    text-align: center;
    text-decoration: none;
    cursor: pointer;
    font-weight: bold; /* Poner el texto en negrita */
    z-index: 1000; /* Asegura que esté sobre otros elementos si es necesario */
    width: 500px;
    margin-left: 950px;
}
































.modal-content h3 {
    text-align: center;
    margin-bottom: 20px;
    color: #b49f23; /* Cambia el color del texto */
    font-family: Arial, sans-serif; /* Cambia el tipo de fuente */
    font-size: 30px; /* Cambia el tamaño de la fuente */
    font-weight: bold; /* Pone el texto en negrita */
}


.modal2 {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.4);
}

.modal-content2 {
    background-color: #b0c4de;
    margin: 6% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
    max-width: 600px;
    color: black;
    border-radius: 10px;
}

.close2 {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close2:hover,
.close2:focus {
    color: #b49f23;
    text-decoration: none;
    cursor: pointer;
}

.modal-content2 h3 {
    text-align: center;
    margin-bottom: 20px;
}

.modal-content2 form label,
.modal-content2 form input {
    display: block;
    width: 100%;
    margin-bottom: 10px;
}

.modal-content2 form input {
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

